.App {
padding: 10px;
background-color: rgb(204, 204, 209);
}
.user{
  
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}
.img{
  background-color: rgb(63, 63, 105) !important;
}